*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html, body{
    height: 100%;
    width: 100%;
}
html{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
:root {

    /* background color */
    --bg-color: rgb(34, 30, 30);
    --bg-button-color: rgba(103, 83, 83, 0.13);
    --bg-task-color: #2a2a2a;
    --delete-color: rgb(196, 12, 12);

    /* text colors */
    --primary-text-color: rgb(241, 235, 235);

    /* padding var */
    --nav-padding: 1rem 2rem;
    --section-padding:1rem 2rem;
    --padding-s: 0.5rem;
    --padding-m: 0.75rem;
    --padding-l: 1rem;
    --padding-xl: 2rem;
    --padding-xxl:3rem;

    /* border radius */

    --border-radius-s: 0.5rem;
    --border-radius-m: 0.75rem;
    --border-radius-l: 1rem;
    --border-radius-xl: 1.25rem;
    --border-radius-xxl: 2rem;
}

body{
    background-color: var(--bg-color);
    color: var(--primary-text-color);
}
main {
    height: 100%;
    display: flex;
    flex-direction: column;
}
nav{
    padding: var(--nav-padding);
    display:flex;
    align-items: center;
    justify-content: space-between;
}

nav button {
    background-color: var(--bg-button-color);
    border:none;
    outline: none;
    color: var(--primary-text-color);
    padding : var(--padding-m) var(--padding-l);
    cursor: pointer;
    border-radius: var(--border-radius-s);
}

section{
    
    padding: var(--section-padding);
    display: flex;
    /*  covers the remaining area in parent*/
    flex-grow: 1;   
    justify-content: space-between;
    
    gap: var(--padding-xl);
}

section .task-column {
    background-color: var(--bg-button-color);   
    flex-grow:1;
    padding: var(--padding-l);
    display: flex;
    flex-direction: column;
    gap: var(--padding-l); 
    border-radius: var(--border-radius-s);
    transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1)
}

section .task-column.hover-over {
    border: 2px dashed var(--primary-text-color);
    scale: 1.05;
}

section .task-column .heading {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;   
}

section .task-column  .task {
    background-color: var(--bg-task-color);
    padding: var(--padding-m);
    border-radius : var(--border-radius-s);
    display:flex;
    flex-direction: column;
    cursor: grab;
}

section .task-column .task button {
    align-self: flex-end; 
    cursor: pointer;
    padding: var(--padding-s);
    border-radius: var(--border-radius-s);
    border:none;
    outline: none;
    background-color: var(--delete-color);
    color: var(--primary-text-color);
}

.modal {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top:0;
    left:0;
    display: none;
    align-items:center;
    justify-content: center;
}

.modal.active{
    display:flex;
}

.modal .bg{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(34, 31, 31, 0.111);
    backdrop-filter:blur(5px) ;
    
}
.modal .center {
    background-color: var(--bg-color);
    padding: var(--padding-xxl);
    border-radius: var(--border-radius-s);
    display: flex;
    flex-direction: column;
    gap : var(--padding-s);
    z-index: 10;
}
.modal .center input, .modal .center textarea, .modal .center select {
    background-color: var(--bg-task-color);
    border:none;
    outline:none;
    color: var(--primary-text-color);
    padding: var(--padding-m);
    border-radius: var(--border-radius-s);
}

.modal .center button {
    background-color: var(--bg-task-color);
        border: none;
        outline: none;
        color: var(--primary-text-color);
        padding: var(--padding-m) var(--padding-l);
        cursor: pointer;
        border-radius: var(--border-radius-m);
        width:fit-content;
        align-self: center;
}
